/* 
font-size in rem
margins, padding in px or rem
width in % or px or vw
height in % or px or vh
*/

/*  ROOT SECTION FOR VARIABLES */
:root {
  --bodyBgndColor: #101110;
  --headerBgColor: #416338;
  --bodyFontColor: #d5e3b8;
  --firstBorder: #d5e3b8;
  --headNavBotBor: #fff;
  --boxShadow: #bbb9b9;
  --hoverBgColor: #03d9f5;
  --hoverTextColor: #120b52;
  --skillsBgColor: #416443;
  --resumeCardBorder: #fff;
  --textCardBgColor: #4d1212;
  --fontFamily: "ubuntu", Sans-Serif;
}
body {
  height: 100%;
  font-family: var(--fontFamily);
  font-size: 1.4rem;
  color: var(--bodyFontColor);
  background-color: var(--bodyBgndColor);
}

/*  HEADER NAVIGATION LINKS */
header {
  display: flex;
  flex-direction: row;
  background-color: var(--headerBgColor);
  height: auto;
  margin: 0 0 25px 0;
  border-bottom: 1px var(--headNavBotBor) solid;
  background-image: url(../images/html1.png);
  background-size: cover;
}
#header_sec {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  height: auto;
  width: 50%;
  font-weight: bold;
  position: relative;
}
.head1,
.head2 {
  width: 100%;
  height: auto;
  font-weight: bold;
  display: inline-block;
  margin-left: 50px;
}
.head1 {
  font-size: 4rem;
  height: auto;
}
.head2 {
  font-size: 2.5rem;
  height: auto;
}
#nav_header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 4rem;
  height: auto;
  width: 50%;
  font-weight: bold;
}

.nav_head_links {
  width: 12rem;
  height: 2.9rem;
}

.head_nav {
  display: inline-block;
  text-align: center;
  border-radius: 0.75rem;
  color: white;
  width: 10rem;
  text-decoration: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.head_nav:hover {
  background-color: var(--hoverBgColor);
  color: var(--hoverTextColor);
}

/*  MAIN PAGE OUTLINE SECTION */
main > section {
  margin: 200px 0px;
  padding-bottom: 50px;
}
#bio {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: auto;
  background-color: #305f42;
  /*The following code was used in initial layout and for debugging*/
  /*border-style: solid;  
  border-width: 5px 1px;
  border-color: #c51111;*/
}
.about_text,
.work_text,
.resume_text,
.projects_text,
.contact_text,
.misc_text {
  flex: 0 0 150px;
  padding-right: 10px;
  text-align: right;
  border-style: solid;
  border-width: 0 5px 0 0;
  border-color: var(--firstBorder);
  background-image: url(../images/html1.png);
  background-size: cover;
}

.about_pic {
  padding-right: 10px;
  float: left;
  display: block;
  margin: 0 50px;
}
.about_nar {
  padding-right: 10px;
  text-align: left;
}

.profile_pic {
  width: 250px;
  height: 320px;
  border: 3px rgb(20, 6, 83) solid;
  border-radius: 20%;
  box-shadow: 8px 8px 5px var(--boxShadow);
  display: inline-block;
}

.hello_world {
  font-size: 46px;
  font-weight: 1000;
}

.work_title {
  height: auto;
  margin-bottom: 0px;
  text-align: center;
}
#work {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #305f42;
  /*The following code was used in initial layout and for debugging*/
  /*border-style: solid;
  border-width: 5px 1px;
  border-color: #ecf74c;*/
}

.work_history {
  width: 1000px;
  /*The following code was used in initial layout and for debugging*/
  /* border-style: solid;
  border-width: 5px 1px 0 0;
  border-color: #6fe42b;*/
}
#projects,
#resume {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.project_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: auto;
}

#contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: #305f42;
}
.contact_content h4 {
  font-size: 1.75rem;
  display: inline-block;
}
.contact_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: auto;
}
.contact_content > article {
  margin: 0 20px 0 20px;
}

.contact_content > article > a {
  font-size: 1.75rem;
  padding: 0 5px;
  color: var(--bodyFontColor);
}

.anchor_text:hover {
  font-size: 1.75rem;
  padding: 0 5px;
  background-color: var(--hoverBgColor);
  color: var(--hoverTextColor);
  border-radius: 5px;
}
.contact_img {
  padding: 0 10px;
}
#misc {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

p {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

hr {
  height: 1rem;
  border-style: dotted;
  border-width: 0 0 5px 0;
  border-bottom-color: #0e90cc;
  width: 25%;
  margin: 0 auto 5px auto;
}

/*  PROJECTS CONFIGURATION SECTION   */
.project_content > article {
  margin: 10px 20px 10px 20px;
}

.project_img {
  opacity: 1;
  display: block;
}

article:hover .project_img {
  transition: transform 1.5s;
  transform: scale(1.25);
  opacity: 0.2;
}
article:hover .card_lg,
article:hover .card_sm {
  opacity: 1;
  transition: transform 1.5s;
}

.card_sm,
.card_lg {
  opacity: 0;
  position: relative;
  top: -15rem;
  height: auto;
  width: 20rem;
  text-align: center;
}
.card_text_sm,
.card_text_lg {
  border-radius: 0% 25px 0% 25px;
  border: 2px var(--resumeCardBorder) solid;
  box-shadow: -6px 6px 3px var(--boxShadow);
  position: absolute;
  background-color: var(--textCardBgColor);
  color: white;
  font-size: 1.6rem;
  padding: 16px 32px;
}
.card_text_lg {
  top: -30px;
  left: 25px;
  height: auto;
  width: 250px;
}

.card_text_sm {
  top: 0px;
  left: 15px;
  height: auto;
  width: 170px;
}

figcaption {
  text-align: center;
  font-size: 1.6rem;
}
/*  WORK HISTORY EDUCATION AND TRAINING SECTION*/
.company {
  background-color: #050446;
  vertical-align: top;
  position: relative;
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 450px;
  height: auto;
  text-align: justify;
  border-radius: 0% 25px 0% 25px;
  border: 2px var(--resumeCardBorder) solid;
  box-shadow: -6px 6px 3px var(--boxShadow);
}
.position_role {
  background-color: #050446;
  vertical-align: top;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  width: 450px;
  height: auto;
  text-align: justify;
  border-radius: 25px 0% 25px 0%;
  border: 2px var(--resumeCardBorder) solid;
  box-shadow: 6px 6px 3px var(--boxShadow);
}

.masters,
.training,
.undergrad {
  background-color: #36357e;
  vertical-align: top;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  width: 450px;
  height: 80px;
  text-align: justify;
  border-radius: 0% 25px 0% 25px;
  border: 2px var(--resumeCardBorder) solid;
  box-shadow: 6px 6px 3px var(--boxShadow);
}
.undergrad {
  margin-left: 50px;
  box-shadow: -6px 6px 3px var(--boxShadow);
}
.masters {
  border-radius: 25px 0% 25px 0%;
}
.training {
  margin-left: 50px;
  width: 900px;
  box-shadow: 6px 6px 3px var(--boxShadow), -6px 6px 3px var(--boxShadow);
}
.container {
  margin: 50px;
  width: 900px;
}

.position_role h3,
.masters h3 {
  font-size: 2.5rem;
  padding: 0 20px 0 20px;
  width: 450px;
  height: 25px;
  left: 100px;
  text-align: right;
}

.company h3,
.undergrad h3,
.training h3 {
  padding: 0 20px 0 20px;
  font-size: 2.5rem;
  width: 450px;
  height: 25px;
  left: 00px;
  text-align: left;
}
.position_role h4,
.masters h4 {
  font-size: 2rem;
  padding: 0 20px 0 20px;
  width: 450px;
  height: 20px;
  left: 100px;
  text-align: right;
  margin: 0px;
}
.company h4,
.undergrad h4,
.training h4 {
  padding: 0 0 0 20px;
  font-size: 2rem;
  width: 450px;
  height: 20px;
  left: 100px;
  text-align: left;
  margin: 0px;
}
.container h4 {
  font-size: 2.75rem;
  font-weight: 200;
  height: 20px;
  margin: 0px;
}
.masters h5 {
  font-size: 1.75rem;
  padding: 0 20px 0 20px;
  width: 450px;
  height: 20px;
  left: 100px;
  text-align: right;
  margin: 0px;
}
.undergrad h5,
.training h5 {
  padding: 0 0 0 20px;
  font-size: 1.75rem;
  width: 450px;
  height: 20px;
  left: 100px;
  text-align: left;
}

.position_role p,
.masters p,
.company p,
.undergrad p,
.training p {
  padding: 10px 20px 10px 20px;
  position: relative;
  width: 450px;
}

/*  ASIDE SECTION FOR SKILLS ASSESSMENT  */
aside {
  position: relative;
  top: 0px;
  margin-left: 2rem;
  width: 20.5rem;
  height: 1vh;
}
.skills_head {
  background-color: var(--skillsBgColor);
  vertical-align: top;
  position: relative;
  display: inline-block;
  margin-left: 0px;
  margin-bottom: 50px;
  width: 205px;
  height: auto;
  text-align: justify;
  border-radius: 25px 25px 25px 25px;
  border: 2px var(--resumeCardBorder) solid;
  box-shadow: 6px 6px 3px var(--boxShadow), -6px 6px 3px var(--boxShadow);
}
.skills_head h3 {
  padding: 0;
  font-size: 2.5rem;
  width: 200px;
  height: auto;
  border-bottom: 1px var(--resumeCardBorder) solid;
  text-align: center;
}
.skills_list {
  padding: 0;
  font-size: 2.5rem;
  width: 200px;
  height: auto;
  text-align: left;
}

.skills_list li {
  margin: 5px;
  width: 200px;
}
.star_skills {
  display: inline-block;
  font-size: 2rem;
  width: 110px;
}
.stars {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  height: 1em;
  line-height: 1em;
}

.stars:before {
  content: "\2606\2606\2606\2606\2606";
}

.stars:after {
  content: "\2605\2605\2605\2605\2605";
  position: absolute;
  left: 0;
  text-align: right;
  overflow: hidden;
  width: var(--w, 50%);
  color: #ffc800;
  z-index: 1;
}

li {
  display: table;
}

/*  FOOTER NAVIGATION LINKS */
#nav_footer {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  height: 65px;
  width: 100%;
  font-weight: bold;
  background-color: #0c42d8;
  border: 1px;
  width: 100%;
  height: 5rem;
  border-style: solid;
}
.nav_foot_links {
  width: 12rem;
  height: 6.5rem;
}
.foot_nav {
  display: inline-block;
  text-align: center;
  border-radius: 0.75rem;
  color: white;
  width: 10rem;
  text-decoration: none;
  background-color: #120b52;
  padding-left: 1.5rem;
  margin-top: 20px;
  padding-right: 1.5rem;
}
.foot_nav:hover {
  background-color: var(--hoverBgColor);
  color: var(--hoverTextColor);
}

.repoLink:link {
  color: var(--bodyFontColor);
  font-size: 1.5rem;
}

.repoLink:visited {
  color: var(--bodyFontColor);
  font-size: 1.5rem;
}

/*  MEDIA QUERIES: ADJUST LAYOUT FOR VARIOUS SCREEN SIZES  */
@media screen and (max-width: 1326px) {
  .training,
  .undergrad,
  .company,
  .container {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1275px) {
  .work_history {
    width: 450px;
  }
  .training {
    width: 450px;
  }
}
@media screen and (min-width: 680px) and (max-width: 1132px) {
  header {
    height: auto;
  }
  #header_sec {
    height: auto;
  }
  .head2 {
    height: auto;
  }
  #nav_header {
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  #bio,
  #work,
  #edu,
  #resume,
  .container,
  #projects,
  #contact,
  #misc {
    display: flex;
    flex-direction: column;
  }

  .about_text,
  .edu_text,
  .resume_text,
  .projects_text,
  .contact_text,
  .misc_text {
    flex: 0 1 50px;
    padding-left: 50px;
    text-align: left;
    border-style: double;
    border-width: 0 0 5px 0;
    margin-bottom: 20px;
  }
  .give_me_space::before {
    content: "\00a0 \00a0 ";
    font-size: 2.5rem;
    font-weight: bold;
  }
  .edu_text {
    order: 1;
  }
  .container {
    order: 2;
  }
  aside {
    float: left;
    height: auto;
    top: 0px;
  }
  .work_title {
    order: 3;
  }
  .work_history {
    order: 4;
  }

  h2 {
    display: inline-block;
  }
}
@media screen and (max-width: 750px) {
  header {
    height: auto;
  }
  #header_sec {
    height: auto;
  }
  .head1 {
    height: auto;
    margin-left: 0px;
  }
  .head2 {
    height: auto;
    margin-left: 0px;
  }
  #nav_header {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 475px) {
  #nav_footer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .nav_foot_links {
    height: 3rem;
  }
  .foot_nav {
    margin-top: 0px;
  }
  #bio {
    display: flex;
    flex-direction: column;
  }
  #work,
  #resume,
  .container,
  #projects,
  #contact,
  #misc {
    display: flex;
    flex-direction: column;
  }
}
